
.connected-device .list-group{
    overflow: hidden;
    overflow-y:scroll;
    height:100%;
    padding: 2vh;
    
}

.device-status .list-group{
    height: 90%;
    max-height: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 2vh;
}
.device-panel-item-dark{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    align-content: center;
    padding: 0.5rem;
    border-bottom: 1px solid #E3C691;
    background-color: none;
    height: 90%;
    max-height: 10vh;

}

#last-device-panel-item{
    border-bottom: none;
}

.device-panel-item-dark p{
    color: #E3C691;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

.device-panel-item-dark h4,h5{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: #E3C691;
}

.connected-device .device-item{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-content: center;
    justify-items: space-between;
    padding: 5px;
}

.hide{
    display: none;
}

.not_supported_yet{
    display:none;
}

.btn-warning{
    background-color: #E3C691;
    border-color: #E3C691;
}

.btn-danger{
    background-color: #754A04;
    border-color: #754A04
}

.btn-dark{
    background-color: #E3C691;
}

.list-group-item-green{
    background-color: #67832B;
    border-color: #67832B;
    border-width: 2px;
}

.list-group-item-orange{
    background-color: #E3C691;
    border-color: #E3C691;
}

.list-group-item-dark{
    background-color: #837F7C;
    border-color: #837F7C;
}


.disabled{
    opacity: 0.1;
}

.device-item h4{
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    align-content: center;
    color: #754A04;
}