
.connected-device .list-group{
    overflow: hidden;
    overflow-y:scroll;
    height:100%;
}

.device-status .list-group{
    height: 100%;
    display: flex;
    overflow: hidden;
}
.device-status  div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}

.connected-device .device-item{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.hide{
    display: none;
}

.not_supported_yet{
    display:none;
}

.selected{
    border-width: 5px;
    border-style: solid;
    border-color: #dc3545;
}

.list-group-item-green{
    background-color: #d1e7dd;
}

.list-group-item-orange{
    background-color: #ffc107;
}