

body{
    /* background: url(/static/img/background.jpg); */
    background-color: #131516;
    background-size: cover;
}

#save-settings,#load-settings{
    width: 70%;
}
.nav-container{
    height: 5vh;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar{
    background-color: #123141;
    border-bottom: 1px solid #E3C691;
    color: #E3C691;
    height: 5rem;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 3fr 0.5fr 0.5fr 1fr;
    transform: translate(0,-100%);
    transition: transform 0.5s ease-in;
}

.nav-container:hover #navbar{
    transform: translate(0,0%);
    transition: transform 0.5s ease-in-out;
}

#navbar .can-toggle__label-text{
    color: #a09b98;
}
#navbar .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__label-text{
    color: #73b862;
}

.container-top{
    display: grid;
    grid-column-gap: 3%;
    grid-template-columns: 2fr 1.5fr;
    padding: 3vh;
    transition: padding-top 0.5s ease-in;
}

body .nav-container:hover ~ .container-top{
    padding-top: 10vh;
    transition: padding-top 0.5s ease-in-out;
}

.board-with-title{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
    padding: 6vh;
    height: 90vh;
}

.board{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 9fr 1fr;
    grid-column-gap: 5vh;
    justify-items: center;
    padding: 5vh;
    height: 80vh;
}

.bag-roles-title{
    grid-column: 1/3;
    text-align:center;
}
.back_board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 13vh repeat(3 , minmax(13vh,19vh)); 
    width: 100%;
}

.front_board{
   display:grid;
   grid-template-columns: 1fr 1fr;
    grid-template-rows: 13vh repeat(3,  minmax(13vh,19vh));
   width: 100%;   
}

.img_container{

    /*
    border-width:1px;
    border-style:solid;
    */
    display: grid;
    justify-content: center;
    align-content: center;
    
    /*
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);    
    transform: translateX(-50%);
    */
}

.back_board img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.front_board img{
    height: 100%;
    width: 100%;
    align-self: center;
    object-fit: contain;
}

.board > h2{
    text-align: center;
    
}

.panel{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(20vh,40vh));
    row-gap: 2vh;
    max-height: 100%;
}

.bag_status{
    max-height:40vh;
}

.svg{
    object-fit: contain;
}

.connected{
    max-height:40vh;
}

.title-and-button{
    display:flex;
    justify-content: left;
    position: relative;
}

.title-and-button > h2{
    text-align: left;
}
.title-and-button > button{
    position: absolute;
    top: 0;
    right: 0;
}

.img_container p{
    align-self: center;
    justify-self: center;
}

h2{
    color: #E3C691;
}

h1{
    color: #E3C691;
}
/*
.blocker{
    opacity:0.9;
    background-color: 3c4247;
}
*/